{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<style>
    input { font-size: 200%; }
    label { font-size: 200%; }
</style>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'gasolina/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'gasolina/icons/favicon.png' %}" />
</head>

<body>

<div class="top-buttons-grid" style="width: 100%">
    <a class="button-books" href="/">Home</a>
    <a class="button-books" href="{% url 'gasolina:index' %}">Gas</a>
    <a class="button-books" href="{% url 'gasolina:plot_item' 'intake' %}">Intake</a>
    <a class="button-books" href="{% url 'gasolina:plot_item' 'range' %}">Range</a>
    <a class="button-books" href="{% url 'gasolina:plot_item' 'kms_per_year' %}">km/year</a>
    <a class="button-books" href="{% url 'gasolina:plot_item' 'euros_per_month' %}">eur/month</a>
</div>

{% block content %}
{% endblock %}

</body>
