{% extends "gasolina/header.html" %}
{% load bootstrap4 %}

{% block content %}

<table width="50%">
    <tr>
        <td>
            <table>
                <tr>
                    <form method="POST" id="post-form" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form layout="vertical" %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </tr>
            </table>
        </td>
    </tr>
</table>

{% endblock %}
