{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% include "pesos/header.html" %}
<style>
    input { font-size: 100%; }
    label { font-size: 400%; }
</style>

<table width="100%">
    <tr>
        <td>
            <table>
                <tr>
                    <form method="POST" id="post-form" class="form">
                        <div class="form-group form-group-lg">
                            {% csrf_token %}
                            {% bootstrap_form form layout="vertical" %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            {% endbuttons %}
                        </div>
                    </form>
                </tr>
            </table>
        </td>
    </tr>
</table>
