{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'ahorro/style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'ahorro/icons/favicon.png' %}" />

<table>
    <tr>
      <td><a href="/"><img src="{% static 'ahorro/icons/home.png' %}" alt="default" style="width: 64px;" /></a></td>
      <td><a href="{% url 'ahorro:index' %}"><img src="{% static 'ahorro/icons/ahorro_logo.png' %}"
                                                  alt="default" style="width: 64px;" /></a></td>
      {% for account in account_list %}
      <td>
          <a href="{% url 'ahorro:plot_item' account.name %}">
              {% with "ahorro/icons/"|add:account.icon as acc_icon %}
                  <img src="{% static acc_icon %}" alt="{{account.name}}" style="width: 64px;" /></a>
              {% endwith %}
      </td>
      {% endfor %}
    </tr>
</table>

