{% extends "books/header.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="banner add-color">Add book</div>
{% include "books/top_menu.html" %}

<br>

<form action="{% url 'books:add_book' %}" method="post" class="add-book">
    {% csrf_token %}
    {% bootstrap_form form layout="vertical" %}
    <input type="submit" class="submit" name="wished" value="Wished">
    <input type="submit" class="submit" name="ordered" value="Ordered">
    <input type="submit" class="submit" name="acquired" value="Acquired">
    <input type="submit" class="submit" name="reading" value="Reading">
</form>

{% endblock %}
