<head>
    {% include "books/header.html" %}
    {% include "books/bokeh_header.html" %}
    {{ plot_script | safe }}
</head>

<body>

<div id="banner">
    <div id="book-head">
        Book: {{book.title}}
    </div>
</div>

<div id="main-content">
    <p><a href="{% url 'books:index' %}">Volver al índice</a></p>
    <br>

    <table>
        <tr>
            <th>Título:</th>
            <td>{{book.title}}</td>
        </tr>
        <tr>
            <th>Autor:</th>
            <td>{{book.author}}</td>
        </tr>
    </table>

    <br><br>

    <table>
        <tr>
            <th>Fecha</th>
            <th style="text-align: left">Evento</th>
        </tr>
        {% for event in book.events %}
        <tr>
            <td>{{event.when|date:"Y-m-d H:i" }}</td>
            <td style="text-align: left">{{event}}</td>
        </tr>
        {% endfor %}
    </table>

    {{ plot_div | safe }}
</div>

</body>
