{% extends "books/base.html" %}

{% block content %}
{% include "books/top_menu.html" %}

<div class="book-detail-grid mt-1 ml-3" style="width: 800px">
    <div class="two-col-grid-text">Title:</div><div class="two-col-grid-text">{{ book.title }}</div>
    <div class="two-col-grid-text">Author:</div>
    <div class="two-col-grid-text">
        {% for author in book.authors.all %}
        <a href="{% url 'books:author_detail' author.id %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="two-col-grid-text">Pages:</div><div class="two-col-grid-text">{{ book.pages }}</div>
    <div class="two-col-grid-text">Published:</div><div class="two-col-grid-text">{{ book.year }}</div>

    {% if book.saga %}
    <div class="two-col-grid-text">Saga:</div><div class="two-col-grid-text">{{ book.saga }} #{{book.index_in_saga}}</div>
    {% endif %}
</div>

<a class="btn btn-primary btn-lg mt-3 ml-3" href="{% url 'books:update_book_progress' book.id %}">Modify</a>
<a class="btn btn-success btn-lg mt-3 ml-2" href="{% url 'books:update_book_progress' book.id %}">Update</a>

<div class="book-detail-grid mt-5 ml-3" style="width: 800px; font-size: 25px">
    <div class="two-col-grid-text">Date</div><div class="two-col-grid-text">Event</div>

    {% for event in book.events %}
    <div class="two-col-grid-text">{{event.when|date:"Y-m-d H:i" }}</div><div class="two-col-grid-text">{{event}}</div>
    {% endfor %}
</div>
{% endblock %}
