{% extends "books/header.html" %}

{% block content %}

{% include "books/top_menu.html" %}
{% include "books/bokeh_header.html" %}

<head>
    {{ progress_plot_script | safe }}
    {{ rate_plot_script | safe }}
</head>

<br><br>

<table class="normal">
    <tr>
        <th>Título:</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Autor:</th>
        <td>
            {% for author in book.authors.all %}
            <a href="{% url 'books:author_detail' author.id %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Pages:</th>
        <td>{{ book.pages }}</td>
    </tr>
    <tr>
        <th>Published:</th>
        <td style="padding: 5px 20px;">{{ book.year }}</td>
    </tr>
</table>

<br>

<form action="{% url 'books:modify_book' book.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="modify">Modificar</button>
</form>

<br>

<table class="normal">
    <tr>
        <th>Fecha</th>
        <th style="text-align: left">Evento</th>
    </tr>
    {% for event in book.events %}
    <tr>
        <td>{{event.when|date:"Y-m-d H:i" }}</td>
        <td style="text-align: left">{{event}}</td>
    </tr>
    {% endfor %}
</table>

<br>

<table>
    <tr>
        <td>{{ progress_plot_div | safe }}</td>
    </tr>
    <tr>
        <td>{{ rate_plot_div | safe }}</td>
    </tr>
</table>

{% endblock %}
