{% extends "books/header.html" %}

{% block content %}

<div class="banner index-color">Index</div>
{% include "books/top_menu.html" %}

<br><br>

<table>
    <tr>
        <th>Title</th>
        <th>Pages read</th>
    </tr>
    {% for book in currently_reading_books %}
    <tr>
        <td><a href="{% url 'books:book_detail' book.id %}">{{book.title}}</a></td>
        <td style="text-align: right">{{book.pages_read}}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<table class="medium">
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>
    {% for book in already_read_books %}
    <tr>
        <td><a href="{% url 'books:book_detail' book.id %}">{{book.title}}</a></td>
        <td>{{book.date_read|date:"Y-m-d H:i"}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
