{% extends "books/header.html" %}

{% block content %}

<div id="banner">Modify book: {{book.title}}</div>

<br>

{% include "books/top_menu.html" %}

<br>

<form action="{% url 'books:modify_book' book.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="submit" value="Submit">
</form>

<form action="{% url 'books:mark_book_read' book.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="mark-read">Mark read</button>
</form>

{% endblock %}
