{% extends "books/base.html" %}

{% block content %}
<div class="banner stats-color">Statistics</div>
{% include "books/top_menu.html" %}

<div class="stats-book-grid" style="margin-top: 35px; margin-left: 10px; margin-right: 10px;">

    {% for book in currently_reading_books %}
    <div class="progress bg-secondary" style="width: 100%; height: 50px; font-size: 30px; grid-column: span 1;">
        <div class="progress-bar bg-primary pl-3 text-white" role="progressbar" style="width: {{book.percent_read}}%;" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="200">{{book.title}} ({{book.pages_read}} / {{book.pages}})</div>
    </div>
    <a class="modify-condensed" href="{% url 'books:modify_book' book.id %}">Update</a>
    {% endfor %}

    <div class="progress bg-secondary mt-5" style="width: 100%; height: 50px; font-size: 30px; grid-column: span 2;">
        <div class="progress-bar" role="progressbar" style="width: {{state.book_percent_read}}%;"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="200">
            {{state.books_read|floatformat:1}} / {{state.expected_books_so_far|floatformat:1}} books read</div>
        {% if state.book_superavit_percent > 0 %}
        <div class="progress-bar bg-success" role="progressbar" style="width: {{state.book_superavit_percent}}%" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">{{state.book_superavit_percent|floatformat:1}}%</div>
        {% else %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{state.book_deficit_percent}}%" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">-{{state.book_deficit_percent|floatformat:1}}%</div>
        {% endif %}
    </div>

    <div class="progress bg-secondary" style="width: 100%; height: 50px; font-size: 30px; grid-column: span 2;">
        {% if pages_per_day.0 > pages_per_day.1 %}
        <div class="progress-bar bg-success" role="progressbar" style="width: {{pages_per_day.2}}%;"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{pages_per_day.0|floatformat:1}} ppd</div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: {{pages_per_day.3}}%" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">{{pages_per_day.1|floatformat:1}} ppd</div>
        {% else %}
        <div class="progress-bar bg-secondary" role="progressbar" style="width: {{pages_per_day.2}}%;"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{pages_per_day.0|floatformat:1}} ppd</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{pages_per_day.3}}%" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">{{pages_per_day.1|floatformat:1}} ppd</div>
        {% endif %}
    </div>

    <div class="progress bg-secondary" style="width: 100%; height: 50px; font-size: 30px; grid-column: span 2;">
        <div class="progress-bar" role="progressbar" style="width: {{perc_total_pages}}%;" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100">{{state.pages_read}} pages read</div>
    </div>

    <div class="progress bg-secondary" style="width: 100%; height: 50px; font-size: 30px; grid-column: span 2;">
        <div class="progress-bar" role="progressbar" style="width: {{perc_ppb}}%;" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100">{{state.pages_per_book|floatformat:1}} pages per book</div>
    </div>
</div>
{% endblock %}
