{% extends "books/header.html" %}

{% block content %}

<div class="banner stats-color">Statistics</div>
{% include "books/top_menu.html" %}

<div class="two-col-grid" style="width: 900px; margin-top: 25px;">
    <div>Title</div>
    <div>Pages read</div>

    {% for book in currently_reading_books %}
    <a class="two-col-grid-book" href="{% url 'books:book_detail' book.id %}">
        {{book.title}}
    </a>
    <div style="text-align: right">{{book.pages_read}}</div>
    {% endfor %}
</div>

<div class="three-col-grid" style="width: 800px; margin-top: 50px;">
    <div class="three-col-grid-text">Books read:</div>
    <div class="three-col-grid-number">{{state.books_read|floatformat:1}}</div>

    {% if state.book_superavit_percent > 0 %}
    <div style="text-align: right; color: green">(+
        {% else %}
    <div style="text-align: right; color: red">(
    {% endif %}
    {{state.book_superavit_percent|floatformat:+2}} %)
    </div>

    <div class="three-col-grid-text">Books per week:</div>
    <div class="three-col-grid-number">{{state.books_per_week|floatformat:2}}</div>
    <div></div>

    <div class="three-col-grid-text">Pages read:</div>
    <div class="three-col-grid-number">{{state.pages_read}}</div>
    <div></div>

    <div class="three-col-grid-text">Pages read per day:</div>
    <div class="three-col-grid-number">{{state.pages_per_day|floatformat:1}}</div>
    <div></div>

    <div class="three-col-grid-text">Pages per book:</div>
    <div class="three-col-grid-number">{{state.pages_per_book|floatformat:1}}</div>
    <div></div>

    <div><br></div>
    <div></div>
    <div></div>


    <div class="three-col-grid-text">Books to read:</div>
    <div class="three-col-grid-number">{{state.required_books|floatformat:1}}</div>
    <div></div>

    <div class="three-col-grid-text">Books per week required:</div>
    <div class="three-col-grid-number">{{state.required_books_per_week|floatformat:2}}</div>
    <div></div>

    <div class="three-col-grid-text">Daily pages required:</div>
    <div class="three-col-grid-number">{{state.required_pages_per_day|floatformat:1}}</div>
</div>

{% endblock %}
