{% extends "books/header.html" %}
{% include "books/bokeh_header.html" %}

{% block content %}

{% include "books/top_menu.html" %}

<br><br>

<table>
    <tr>
        <th>Título</th>
        <th>Páginas leídas</th>
    </tr>
    {% for book in currently_reading_books %}
    <tr>
        <td><a href="{% url 'books:book_detail' book.id %}">{{book.title}}</a></td>
        <td style="text-align: right">{{book.pages_read}}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<table>
    <tr>
        <th>Libros leídos:</th>
        <td style="text-align: right">{{state.books_read|floatformat:1}}</td>
    </tr>
    <tr>
        <th>Libros por semana:</th>
        <td style="text-align: right">{{state.books_per_week|floatformat:2}}</td>
    </tr>
    <tr>
        <th>Páginas leídas:</th>
        <td style="text-align: right">{{state.pages_read}}</td>
    </tr>
    <tr>
        <th>Páginas leídas por día:</th>
        <td style="text-align: right">{{state.pages_per_day|floatformat:1}}</td>
    </tr>
    <tr>
        <th>Páginas por libro:</th>
        <td style="text-align: right">{{state.pages_per_book|floatformat:1}}</td>
    </tr>

    <tr><td><br></td></tr>

    <tr>
        <th>Libros que faltan por leer:</th>
        <td style="text-align: right">{{state.required_books|floatformat:1}}</td>
    </tr>
    <tr>
        <th>Libros por semana necesarios:</th>
        <td style="text-align: right">{{state.required_books_per_week|floatformat:2}}</td>
    </tr>
    <tr>
        <th>Páginas diarias necesarias:</th>
        <td style="text-align: right">{{state.required_pages_per_day|floatformat:1}}</td>
    </tr>
</table>

{% endblock %}
