{% load static %}

<table>
    <tr>
        <td><a href="/"><img src="{% static 'books/icons/home.png' %}" alt="default" style="width: 64px;" /></a></td>
        <td><a href="{% url 'books:stats' %}">
            <img src="{% static 'books/icons/books_logo.png' %}" alt="default" style="width: 64px;" /></a>
        </td>
        <td><a href="{% url 'books:index' %}">
            <img src="{% static 'books/icons/index.png' %}" alt="default" style="width: 64px;" /></a>
        </td>
    </tr>
</table>
