{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.png' %}" />

<div id="banner">Progresos</div>

<br>

<table class="buttons">
    <tr>
        <td><a class="button-gasolina" href="gasolina">Gasolina</a></td>
        <td><a class="button-ahorro" href="ahorro">Ahorro</a></td>
    </tr>
    <tr>
        <td><a class="button-pesos" href="pesos">Pesos</a></td>
        <td><a class="button-books" href="books">Books</a></td>
    </tr>
</table>
